@charset "utf-8";
/* 
    Created on : 01/01/2016, 10:29:30
    Author     : Jairo
*/
#menu{
    margin: 0;
}
.pagina{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background: #ffffff;
    box-shadow: 5px 4px 10px #333, -5px -5px 10px #ccc;
}

.tituloPrincipal{
    text-transform: uppercase;
    padding: 1px;
    background-color: #610631;
    color: #FFFFFF;
    font-size: 13px;
}

.tituloPrincipal h3{
    margin-left: 5px;
}

#login-dialog{
    width: 260px;
    margin: auto;
    margin-top: 150px;
}

.grid-login{
    background-color: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 10px;
    width: 100%
}

.ajax-status{
    position: absolute;
    top: 205px;
    right: 688px;
    width: 50px;
    height: 50px;
}

body{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    font-weight: normal;
}

header{
    padding: 0px;
    margin-bottom: 20px;
    height: 85px;
    background-color: #610631;
    color: #fff;
    box-shadow: 0px 2px 2px #ccc
}

#conteudo{
    padding: 0px 5px;
}

footer{
    border-top: 1px solid #ccc;
    border-top-color: #545454;
    padding: 5px 8px;
    margin-top: 20px;
    margin-bottom: 10px
}

h1{
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px
}
a{
    text-decoration: none;
    color: #333;
}

