.ui-widget, .ui-widget .ui-widget {
    font-size: 97% !important;
}
.ui-panelmenu .ui-panelmenu-header a{
    color: black;
}

.ui-panelgrid {  
    border: none !important; 

}

#login-dialog{
    width: 260px;
    margin: auto;
    margin-top: 150px;
}

h1{
    color: #708090;
    font: normal 1.5em/1.1 OFL Sorts Mill Goudy, Georgia, serif;
    font-family: Verdana;
    margin: 1px;
    font-size: 20px;
}
header{
    padding: 5px;
    margin-bottom: 20px;
    height: 30px;
    background-color: #610631;
    color: #fff;
    box-shadow: 0px 2px 2px #ccc
}

#conteudo{
    padding: 0px 8px;
}

.menu {
    float: left;
    width: 15%;
    padding: 0 0.5%;
}

footer {
    display: block;
    width: 1150px;
    padding: 0px 0;
    font-family: verdana, sans-serif;
    color: gray;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

body{
    fonte-size:12px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: normal;
}

.panel {
    background-color: #f5f5f5;
    width: 300px;
    height:380px;
    margin: 7% auto;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 5px 4px 10px #333, -5px -5px 10px #ccc;

}

.imag{
    margin-top: 15px;
    margin-bottom: 4px;
    margin-left: -40px;
    position: absolute;
    left: 50%;
}

#login{
    margin-top: 40%;
    margin-bottom: 4px;
    left: 50%;
}

#bt_entrar{
    height: 35px;
    width: 90px;
    border-top: 1px solid #96d1f8;
    border-radius: 5px;
    background: #69D2E7;
    background: -moz-linear-gradient(top, #69D2E7, #65a9d7);
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
    display: block;
    margin: 15px auto;
}

#bt_entrar:hover{
    border-top-color: #28597a;
    background: #28597a;
    color: #fffaff; 
}

#bt_entrar:active{
    border-top-color: #1b435e;
    background: #1b435e;
}

.campo-de-texto {
    display: block;
    height: 35px;
    width: 75%;
    margin: 0 auto 4px auto;
    box-shadow: inset #aaaaaa 0 0.5px 1.5px;
    border: #bbbbbb solid 1.5px;
    border-radius: 5px;
    color: #666666;
}
h3{
    font: italic 0.9em/2.0 georgia;
    font-size: 2em;
    color: #610631;
    text-align: center;
    margin: -22px auto auto 21px;
}

#bemVindo{
    font: italic 0.9em/2.0 georgia;
    font-size: 2em;
    color: #610631;
    text-align: center;
    margin: 10px auto 15px auto;
}

.panel .bpmlab {
    background: transparent;
    font: italic 0.5em/0.6 georgia;
    font-size: 0.9em;
    color: #610631;
}

a p {
    text-decoration: none;
    position: relative;
}
#panelHeader{
    display: inline-block;
    text-align: center;
}